html, body {
    height: 100%;
}

body {
    background-image: url(https://avatars3.githubusercontent.com/u/2125030?v=3);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size:30%;
}

h1,h2,h3,h4,h5,h6 {
  color: #7889B7;
}

.starter-template {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

/** MENU */
.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

p.meta {
  color: #7F7F7F;
  font-size: 12px;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

/* ------- pagination -------- */

.pagination {
  height: 36px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover, .active a {
  background-color: whiteSmoke;
}

.disabled a, .disabled a:hover,
.active a, .active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}
